*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.case{
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
}
nav{
    width: 100%;
    height: 100px;
    background-color: blue;
}
.n-main{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

h1{
    font-size: 40px;
    color: #fff;
}
.icons{
    font-size: 20px
}
.mobile{
    display: none;
}
@media (max-width: 768px) {
    .links{
        display: none;
    }
    

.mobile{
    display: block;
    svg{
        color: #fff;
    }
}
}
.h-main{
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 60px 0;
    gap: 30px;
}

.h-right img{
    width: 100%;
    max-width: 600px;
    transition: 0.5s;
    border-radius: 20px;
}
img:hover{
   transform: scale(1.3);
}
.h-left{
    h2{
        font-size: 50px;
        color: aqua;
    }
    p{
        color: gray;
        font-style: 18px;
        padding: 20px 0;
    }
    button{
        padding: 10px 15px; 
        color: #fff;
        background-color: darkred;
        border: none;
        font-style: 25px;

    }
}


@media (max-width: 1085px) {
    .h-main{
        flex-direction: column-reverse;
    }
    
}
.h-left{
    text-align: center;

}